page-blog {
  ion-navbar {
    color: $orange;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }

  .toolbar-background-md,
  .toolbar-background-ios {
    background: #696969;
  }

  .toolbar-title-md img {
    width: 52px;
    height: 52px;
    transform: translate(-50%, 3px);
  }
  .toolbar-title-ios img {
    width: 47px;
    height: 47px;
    transform: translateY(-2px);
  }

  .ion-md-menu,
  .ion-ios-menu {
    color: $orange !important;
    z-index: 100 !important;
    font-size: 31px;
  }

  .back-button-icon-md,
  .back-button-icon-ios {
    color: $orange;
    font-size: 31px;
  }
  .back-button-text-md,
  .back-button-text-ios {
    color: $orange;
  }
  .blog-image {
    width: 100%;
  }

  .shares-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }

  .blog-content {
    margin-bottom: 40px !important;
    padding-bottom: 30px !important;
  }

  .share-button {
    width: 23vw;
    display: inline-block;
    height: 25px;
    color: #ffffff;
    outline: none;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    font-size: 11px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
  }

  .share-button:active {
    box-shadow: none;
  }

  .facebook {
    background: #3B5998;
    text-transform: none;
  }

  .twitter {
    background: #55acee;
    text-transform: none;
  }

  .mail {
    background: $orange-dark;
    text-transform: none;
  }

  .other {
    background: #3cb232;
    text-transform: none;
  }

  .share-with-header {
    display: inline-block;
  }
  .support-wrapper {
    background: $light-gray;
  }
  ion-app.md [padding],
  ion-app.ios [padding] {
    padding: 0px 10px 10px 10px !important;
  }
  .support-inputs-wrapper {
    background: #444;
    overflow: hidden;
    // min-height: calc(100vh - 43px);
  }
  
  .support-info {
    color: #f8f8f8;
  }
  
  .input-support {
    background: rgb(239, 239, 239);
    border: none;
    margin: 0;
    border-bottom: 1px solid #d6d6d6;
  }
  
  .support-header {
    color: #fa6800;
    font-size: 24px;
    text-align: center;
    margin: 1.5vh 0 !important;
  }
  
  .textarea-logins {
    width: 100%;
    min-height: 60px;
    padding: 5px;
    background: #efefef;
    resize: none;
  }
  
  .input-label {
    width: 20% !important;
    display: table;
    padding: 7px 10px 7px 0;
    color: #444;
    font-size: 16px;
  }
  
  .input-login{
    background: rgba(255,255,255,.5);
    border: none;
  }
  
  .login-sub-header{
    color: #ffffff;
  }
  
  .login-button-login{
    background: #fa6800;
    border-radius: initial;
    font-size: 25px;
    color: #ffffff;
    width: 100%;
    border: none;
    min-height: 45px;
    outline: none;
    margin: 25px 0 50px;
  }
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md,
  .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
      color: #444;
  }
  .item-md.item-input .item-inner,
  .item-ios.item-input .item-inner {
      border-bottom: none;
      box-shadow: unset;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
      border-bottom: none;
      box-shadow: unset;
  }
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-ios.item-input.item-input-has-focus .item-inner,
  .item-ios.item-input.input-has-focus .item-inner {
      border-bottom: none;
      box-shadow: unset;
  }
  .btn-comment {
    background: #fa6800;
    margin-top: 30px;
    text-transform: initial;
    font-weight: bold;
  }
  .btn-comment.button-md:hover:not(.disable-hover),
  .btn-comment.button-ios:hover:not(.disable-hover) {
    background-color: #fa6800;
  }
  .text-orange {
    color: #fa6800;
  }
  textarea.text-input {
    height: 200px;
  }
  .text-input-md,
  .text-input-ios {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    margin: 0;
    padding: 5px;
  }
  .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input,
  .label-md + ion-input .text-input, .label-md + ion-textarea .text-input, .label-md + .input + .cloned-input {
    margin-left: 0;
  }
}
