page-change-password {
  .dark-background {
    background: #6f6e68
  }
    ion-navbar {
        color: $orange;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
      }
    
      .toolbar-background-md,
      .toolbar-background-ios {
        background: #696969;
      }
    
      ion-title .toolbar-title-md,
      ion-title .toolbar-title-ios {
        color: #fff;
      }
      ion-title .toolbar-title-md {
        transform: translateX(-8%);
      }
    
      .ion-md-menu,
      .ion-ios-menu {
        color: $orange !important;
        z-index: 100 !important;
      }
  
      .back-button-icon-md,
      .back-button-icon-ios {
          color: $orange;
          font-size: 31px;
      }

      .back-button-text-ios {
          color: $orange !important;
      }

      .input-change-pass-label {
        margin: 40px 0 -1px;
      }
      
      .input-change-pass{
        border: none;
      }
      
      .checkbox-change-pass{
        margin: 0 0 20px;
      }
      .change-password-button{
        background: #fa6800;
        color: #ffffff;
        font-size: 1.1em;
        font-weight: bold;
      }
      .settings-settings{
        margin: 20px 0;
      }
      
      .dark-background{
        background: #6f6e68;
        color: $orange !important;
      }
      
      .tab-item{
        max-width: 100% !important;
      }
      
      .settings-input{
        border-width: 1px 0;
        color: $orange !important;
        background-color: #565656 !important;
        border-color: #6f6e68 !important;
      }
      
      .item{
        //background-color: rgba(255, 255, 255, 0.7) !important;
        //border-color: #6b6b6b;
        border-width: 1px 0;
      }

      .item-input .label-md, .item-select .label-md, .item-datetime .label-md,
      .item-input .label-ios, .item-select .label-ios, .item-datetiem .label-ios {
          color: $orange;
      }

    .list-md[no-lines] .label-border.item-block,
    .list-ios[no-lines] .label-border.item-block {
        border-bottom: 2px solid #ddd;
    }
    .button-full-md,
    .button-full-ios {
        text-transform: unset;
        box-shadow: unset;
    }
    .item-md.item-input .item-inner,
    .item-ios.item-input .item-inner {
        border-bottom: none;
        box-shadow: unset;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom: none;
        box-shadow: unset;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-ios.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-ios.item-input.input-has-focus .item-inner {
        border-bottom: none;
        box-shadow: unset;
    }
    .checkbox-md .checkbox-checked,
    .checkbox-ios .checkbox-checked {
      background: #fa6800;
      border-color: #fa6800;
  }

  .checkbox-md .checkbox-checked .checkbox-inner,
  .checkbox-ios .checkbox-checked .checkbox-inner {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 15px;
    border-right-width: 1px;
    border-bottom-width: 1px;
  }

  .checkbox-md .checkbox-icon,
  .checkbox-ios .checkbox-icon {
      border-radius: 28px;
      width: 28px;
      height: 28px;
      border: none;
  }
  .button-md:hover:not(.disable-hover) {
    background-color: #fa6800;
  }
}
